<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <title>Title</title>
</head>
<body>
<div class="row">
  <div class=" card col-md-3 order-md-1 mb-4 bg-light">
    <div class="card-header">
      HEADER
    </div>
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
    </div>
  </div>
  <div class="card col-md-6 order-md-2 bg-light">
    <div class="card-header">
      HEADER
    </div>

    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      <!--            MESSAGE 1 TEMPLATE-->
      <div class="row">
        <div class=" card col-md-8 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            <h4 id="list-item-1">Item 1</h4>
          </div>
          <div>
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="robot_address">Int X</span>
              </div>
              <input type="text" class="form-control" placeholder="message" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div id="MessageForm">
              <label for="MessageForm"> Some topic</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">message</span>
                </div>
                <input type="text" class="form-control" placeholder="message" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
        <div class=" card col-md-4 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            Log 1
          </div>
        </div>
      </div>
      <!--MESSAGE 2 TEMPLATE-->
      <div class="row">
        <div class=" card col-md-8 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            <h4 id="list-item-2">Item 2</h4>
          </div>
        </div>
        <div class=" card col-md-4 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            Log 2
          </div>
        </div>
      </div>
      <!--MESSAGE 3 TEMPLATE-->
      <div class="row">
        <div class=" card col-md-8 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            <h4 id="list-item-3">Item 2</h4>
          </div>
        </div>
        <div class=" card col-md-4 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            Log 2
          </div>
        </div>
      </div>
      <!--MESSAGE 4 TEMPLATE-->
      <div class="row">
        <div class=" card col-md-8 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            <h4 id="list-item-4">Item 2</h4>
          </div>
        </div>
        <div class=" card col-md-4 mb-4 bg-light">
          <div>
          </div>
          <div class="card-header">
            Log 2
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="card col-md-3 order-md-3 mb-4 bg-light">
    <div class="card-header">
      HEADER
    </div>
  </div>
</div>
</body>
</html>